// Settings
$table-odd-background: $gray-lightest;
$table-even-background: $white;

// Styles

.tm-table {
  display: flex;
  flex-direction: column;

  &__header { 
    background: $white !important;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    background: $table-even-background; // even

    &:nth-of-type(odd) {
      background: $table-odd-background;

      &:hover {
        .cell-content {
          background-image:
            linear-gradient(
              to left, 
              rgba($table-odd-background, 0),
              rgba($table-odd-background, 1) $one-unit * 0.5,
              $table-odd-background
            );
        }
      }
    }
  }

  &__cell {
    width: 12.5%;
    overflow: hidden;
    white-space: nowrap;
    padding: $one-unit * 0.5;



    &:hover {
      overflow: visible;
      
      .cell-content {
        background-image:
          linear-gradient(
            to left, 
            rgba($table-even-background, 0),
            rgba($table-even-background, 1) $one-unit * 0.5,
            $table-even-background
          );
        position: absolute;
        padding-right: $one-unit * 0.5;
      }
    }
    
  }


}