/*****************************
Fonts
******************************/

// CircularPro-Book "Main font"
@font-face {
  font-family: 'CircularPro';
  src:  url('../fonts/CircularPro-Book.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/CircularPro-Book.otf')  format('opentype'),
        url('../fonts/CircularPro-Book.woff') format('woff'),
        url('../fonts/CircularPro-Book.ttf')  format('truetype'), 
        url('../fonts/CircularPro-Book.svg#CircularPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

// CircularPro-Bold "Bold font"
@font-face {
  font-family: 'CircularPro';
  src:  url('../fonts/CircularPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularPro-Bold.otf')  format('opentype'),
        url('../fonts/CircularPro-Bold.woff') format('woff'),
        url('../fonts/CircularPro-Bold.ttf')  format('truetype'),
        url('../fonts/CircularPro-Bold.svg#CircularPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// CircularPro-BookItalic "Normal and italic"
@font-face {
  font-family: 'CircularPro';
  src:  url('../fonts/CircularPro-BookItalic.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/CircularPro-BookItalic.otf')  format('opentype'),
        url('../fonts/CircularPro-BookItalic.woff') format('woff'),
        url('../fonts/CircularPro-BookItalic.ttf')  format('truetype'), 
        url('../fonts/CircularPro-BookItalic.svg#CircularPro-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

// TM Icons
@font-face {
  font-family: 'talkmore-icons';
  src:  url('../fonts/talkmore-icons.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/talkmore-icons.woff') format('woff'),
        url('../fonts/talkmore-icons.ttf')  format('truetype'), 
        url('../fonts/talkmore-icons.svg#talkmore-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*****************************
Reset/Settings
******************************/
* {
  font-size: $font-size-default;
}

body {
  font-family: $font-family-default;
  color: $font-color-default;
  line-height: $line-height-default;
}

/*****************************
Styles
******************************/
p {
  font-size: $one-unit;
  margin-bottom: $one-unit;
}

h1 {
  font-size: $one-unit * 2;
  margin-bottom: $one-unit;

  * {
    font-size: $one-unit * 2;
  }
}