// Reset
body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

// Body/HTML config
body, html {
  width: 100%;
  height: 100%;
}


// END - Specific for live chat app (please move this to separate file)


//
.lvl-tm {

  // Util
  @import "mixins";
  @import "variables";

  // Reset
  @import "reset";

  // Global
  @import "global";

  // Typography
  @import "typography";

  // Forms
  @import "forms";

  // Tables
  @import "tables";

  // Filters
  @import "filters";

  // Add user
  @import "add-user";

  // Add menu
  @import "menu";

  // Add pagination
  @import "pagination";

  // Add Cards
  @import "cards";

  // react-redux-toastr
  @import '~react-redux-toastr/src/styles/index';

}


// Specific for live chat app (please move this to separate file)
$live-chat-app-font-size: 14px; // This is same size as LiveChat have in their admin so natural for us to use this size as well

.tm-live-chat-app {
  padding: 16px; // temp - should be dynamic?
  font-size: $live-chat-app-font-size;
  *, p {
    font-size: $live-chat-app-font-size;
  }
}
